/* body {
    background-color: #030132;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, rgba(252, 100, 100, 0.00) 0%, rgba(150, 59, 59, 0.20) 92.1%), #030132;
}

.centerdata {
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}



button {
    display: inline-flex;
    padding: 6px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #080333;
    color: #F3F3F3;
    border: none;
} */



.centerdata form label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
    display: inline-flex;
    padding: 10px 4px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.centerdata {
    width: 400px;
    margin: 0 auto;
    height: 640px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: inline-flex;
    padding: 6px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #080333;
    color: #F3F3F3;
    border: none;
}

input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    border-radius: 15px;
    border: 2px solid #000;
    background: rgba(217, 217, 217, 0.00);
}

.centerdata select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    border-radius: 15px;
    border: 2px solid #000;
    background: rgba(217, 217, 217, 0.00);
}