.header {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: roboto;
    padding: 5px;
    gap: 100px;
    background: #D9D9D9;
    margin: -10px -10px 0px -8px;
    border: 0;
    box-shadow: 9px 15px 15px rgba(0, 0, 0, 0.81);
    height: 50px;
}

.c {
    margin-left: 400px;
}

.container {
    display: flex;
    align-items: center;
    gap: 130px;
}

button {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    border-radius: 35px;
    color: white;
    background: #080333;
    font-weight: 600;
    font-size: 10px;
}

.header a {
    text-decoration: none;
    color: black;
}

.header select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    font-size: 16px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 620px;
    height: 550px;
    /* background: #D9D9D9; */
    border-radius: 10px;
    border: 3px solid #8A38F5;
    margin-top: 40px;
    margin-left: 31px;
    margin-right: 125px;
    margin-bottom: 25px;
    color: white;
}

.margin {
    margin-right: 200px;
}

body {
    background: #030132;
    background: linear-gradient(180deg, rgba(252, 100, 100, 0.00) 0%, rgba(150, 59, 59, 0.20) 92.1%), #030132;
}

.box1 label {
    align-self: flex-start;
    font-size: 14px;
    font-weight: 600;
}

.box1 input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.box1 input[readonly] {
    background-color: #f9f9f9;
    color: #090909;
}

.eventbox {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 0.5;
}

button:hover {
    background: #8A38F5;
    transition: 0.3s;
}

button:active {
    background: #963B3B;
    transition: 0.3s;
}

.box2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.eventbox {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    margin-bottom: 20px;
    overflow: auto;
    align-content: stretch;
    flex-wrap: wrap;
}

.event-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.box2::-webkit-scrollbar {
    width: 20px;
}

.box2::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.box2::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.box2::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 1300px;
    height: 550px;
    /* background: #D9D9D9; */
    border-radius: 10px;
    border: 5px solid transparent;
    margin-left: -90px;
    margin-right: 33px;
    margin-top: 40px;
    margin-bottom: 25px;
    color: white;
    /* background-image: linear-gradient(white,white) padding-box, linear-gradient(to right, #963B3B,#8A38F5) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box; */
}

.event-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}