h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 96px;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
    font-size: 48px;
}

.landing-image {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
    position: relative;
    z-index: 1;
    y: 20px;
    x: 0px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

button {
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #FF4DB8;
    color: white;
    border-radius: 20px;
    border-width: 64px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF66CC;
    box-shadow: 0 0 10px #FF66CC;
}

body {
    background-color: #030132;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* background: linear-gradient(20%, #FC6464 0%, #963B3B 100%);
    background: radial-gradient(circle at 20% 20%, #633232, transparent 50%), radial-gradient(circle at 80% 80%, #8B298A, transparent 50%); */
}

