<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <div class="header">
            <h3 class="a">Home</h2>
            <h3 class="e">Events</h3>
            <h3 class="c">About Us</h3>
            <h3 class="d">Contact Us</h3>
            <button class="b">review button</button>
            <button class="log">Achievements</button>
            <button class="logout-btn">Log out</button>
        </div>
        <div class="p">
         <div><img src="eve.jpg" alt="eve" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 60px;border-radius: 50%;"></div>
    <div><h1 style="text-align: center;">Evecustom<br><h4 style="margin-left: 50%;">
        -build by BITcoders</h4></h1></div>
    </div>
    </h4> </h1><br>
   <div style="margin-left: 20px; margin-right: 20px;"> 
    <p>
   <h2><b>Why we built this?</b></h2><br>
<ul>
<li><h3><b>Multi event hosting</b></h3></li>
      To manage various events simultaneously which becomes complex and 
        unorganised without proper system.
<li><h3><b>To decrease manual labour</b></h3></li>
        Registration through manual entries, google forms, spreadsheet can lead to data duplication, errors in entering participants details and difficulty in 
        filtering and sorting.
<li><h3><b>Lack of team management</b></h3></li>
        Events which are managed through whatsapp groups. manual task allocation and no proper role assignment can lead to confusion in responsibilities, 
        lack of accountibility and miscommunication.
<li><h3><b> Lack of real time tracking & automated notification</b></h3><br></li>
        As organisers cannot track registration count live, team performnce, track payment and event status and everything requires manual checking and 
        participants do not receive instant mails, reminders, payment conformation updates.
</ul>
<h2><b>What problem does it solve?</b></h2><br>
<ul>
<li><h3><b>Real time analytics dashboard</b></h3></li>
         Does the live tracking of registered teams and attendance.
<li><h3><b>Team creation & management</b></h3></li>
         Allows the seamless team formation, approval and co-ordinations.
<li><h3><b>Centralised event hosting</b></h3></li>
         Provides one unified platform to create create, manage and monitor all events.
<li><h3><b>Role based access control</b></h3></li>
         Provides a seperate dashboard for organisers and participants.
<li><h3><b>Automated notification system</b></h3></li>
         Gives instant configration reminders and updates.
<li><h3><b>QR based entry pass</b></h3></li>
         Provides secure and fast event check-in with unique QR passes.
</ul>
<h2><b>Key Features</b></h2><br>
<ul>
<li>Registration control</li>
<li>Venue /online setup</li>
<li>Real time registration tracking</li>
<li>Event lifecycle management</li>
<li>QR based smart check in</li>
<li>Automatic deadline lock</li>
<li> Live event stats</li>
<li>Automated E-mail notification</li>
<li>Role based smart redirection</li>
<li>smart team implementation system</li>
</ul>  
 </p>  
</div> 
 <h1 style="text-align: center;">OUR TEAM</h1>
 <div class="v" style="margin-left: 130px;">
    <div><img src="ankit.png" alt="Ankit" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 60px;border-radius: 50%;">
    <h3 style="margin-left: 65px;">ANKIT RAJ<br>Frontend Developer</h3></div>
    <div><img src="shilpi.png" alt="shilpi" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 40px;border-radius: 50%;"><h3 style="margin-left: 65px;">SHILPI SAHU<br>Frontend Developer</h3></div>
    <div><img src="sudhansu.png" alt="sudhansu" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 40px;border-radius: 50%;"><h3 style="margin-left: 65px;">SUDHANSHU RANJAN<br>UI/UX</h3></div>
   <div> <img src="suraj.png" alt="suraj" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 40px;border-radius: 50%;"><h3 style="margin-left: 65px;">SURAJ MANDAL<br>backend Developer</h3></div>

 </div>   
 <h1 style="text-align: center;">Team BITcoders</h1>
</body>
</html>