<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet"  href="{% static 'css/contactus.css' %}">

    

</head>
<body>
    <div class="header">
            <h3 class="a">Home</h2>
            <h3 class="e">Events</h3>
            <h3 class="c">About Us</h3>
            <h3 class="d">Contact Us</h3>
            <button class="b">review button</button>
            <button class="log">Achievements</button>
            <button class="logout-btn">Log out</button>
        </div>
        <div class="s">
        <div class="p">
         <div ><img src="{% static 'images/ankit.png' %}" alt="ankit" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 60px;border-radius: 50%;"></div>
    <div><h4 style="text-align: center;">Name -Ankit Raj<br>Email -rajankitjsr@gmail.com<br>
        <button class="b">connect on linkedin</button>
    </h4></div>
    </div>
    <div class="p">
        <div>
            <h4 style="text-align: center;">Name -Shilpi Sahu<br>Email -shilpi2468sahu@gmail.com<br>
        <button class="b">connect on linkedin</button></h4></div>
       <div> <img src="{% static 'images/shilpi.png' %}" alt="shilpi" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 60px;border-radius: 50%;">
    </div>
    </div>
    
    
    <div class="p">
         
        <div>
            <img src="{% static 'images/sudhansu.png' %}" alt="sudhansu" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 60px;border-radius: 50%;"></div>
   <div><h4 style="text-align: center;">Name -Sudhanshu Ranjan<br>Email -sudhanshu12415@gmail.com<br>
        <button class="b">connect on linkedin</button>
    </h4></div>
    </div>
    <div class="p">
        <div> <h4 style="text-align: center;">Name -Suraj Mandal<br>Email -shikhatman123@gmail.com<br>
        <button class="b">connect on linkedin</button>
        </h4></div>
        <div><img src="{% static 'images/suraj.png' %}" alt="suraj" style="width: 200px; height: 200px; 
    border-radius: 50%; margin-left: 60px;border-radius: 50%;"></div>
   
    
    </div>
    </div>
    
  

  </div> 
</body>
</html>