{% load static %}
<html>
<head>
    <title>Create Team</title>
    <link rel="stylesheet"  href="{% static 'css/create.css' %}">

     
</head>

<body>

<div class="container">

    <h1>CREATE TEAM</h1>
    <h2>Create your own team for Event 1</h2>

    <label>Team Name:</label>
    <input type="text">

    <label>Team Leader Name:</label>
    <input type="text">

    <label>Email:</label>
    <input type="email">

    <label>GitHub Account:</label>
    <input type="text">

    <h4>Team Members:</h4>
    <div class="member-row">
    <textarea class="member-row" id="username" name="username" placeholder="UserName of members seperated by commas"
     rows="3" cols="90"></textarea>
    </div>

        <div>
            <input type="checkbox" required>Iagree to terms & conditions
        </div>
        <div><button type="submit">create team</button></div>
        </div>

        </div>


       </form>
        

    </div>
</body>
</html>