{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Host Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        welcome to host dashboard  <br>
        <a href="{% url 'logout' %}">Logout</a> <br>
        <a href="{% url 'createvent' %}">Create Event</a> <br>
        <a href="{% url 'aboutus' %}">About us</a> <br>
        <a href="#">Contact us</a>  <br>

        <h1>Hosted profile</h1>  <br>
        Host Name: {{ host.username }} <br>
        Number: {{ host_profile.number }} <br>
        Email: {{ host.email }} <br>
        <br>
        <h1>Hosted events</h1>
        {% for event in events %}
            <h2>{{ event.name }}</h2>
            <p>{{ event.description }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Start Date: {{ event.start_date }}</p>
            <p>End Date: {{ event.end_date }}</p>
            <p>Start Time: {{ event.start_time }}</p>
            <p>End Time: {{ event.end_time }}</p>
            <p>Prize Details: {{ event.prize_details }}</p>
            <a href="{% url 'eventdetails' event.id %}">View Event Details</a>
        {% empty %}
            <p>No events hosted.</p>
        {% endfor %}
        
        <h2>🔴 Live Events</h2>

        {% for event in live_events %}
        <div class="event-card">
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
            <p>Start: {{ event.start_datetime }}</p>
            <p>End: {{ event.end_datetime }}</p>
        </div>
        {% empty %}
        <p>No Live Events</p>
        {% endfor %}
        
        
        
        <h2>🟢 Upcoming Events</h2>
        
        {% for event in upcoming_events %}
        <div class="event-card">
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
            <p>Start: {{ event.start_datetime }}</p>
        </div>
        {% empty %}
        <p>No Upcoming Events</p>
        {% endfor %}
        
        
        
        <h2>⚫ Past Events</h2>
        
        {% for event in past_events %}
        <div class="event-card">
            <h3>{{ event.name }}</h3>
            <p>{{ event.description }}</p>
            <p>Ended: {{ event.end_datetime }}</p>
        </div>
        {% empty %}
        <p>No Past Events</p>
        {% endfor %}

        <script src="" async defer></script>
    </body>
</html>