{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>

    <h1>Welcome User!</h1>
    <h2>Enter your preference:</h2>

    <div class="container">
        <button onclick="location.href='{% url "hostlogin" %}'">Login</button>
        <button onclick="location.href='{% url "participantsignup" %}'">Sign-up</button>
    </div>

    <img src="{% static 'images/pic1.png' %}" alt="Landing Image" class="landing-image">  



</body>

</html>