{% load static %}
<html>
<head>
    <title>Create Team</title>

    <link rel="stylesheet"  href="{% static 'css/join.css' %}">
       
</head>

<body>

<div class="container">

    <h1>JOIN TEAM</h1>
    <h2>Join  Team for this Event</h2>
    <form  method="post">
    {% csrf_token %}
    <label>Team Code:</label>
    <input type="text" name="team_code" id="team_code" required>

    <label>Team Name:</label>
    <input type="text" name="team_name" id="team_name" required>

    <label>User Name:</label>
    <input type="text" name="user_name" id="user_name" required>

    <label>Email:</label>
    <input type="text" name="email" id="email" required>
    <label>Github account:</label>
    <input type="text" name="github_account" id="github_account" required>


    <div class="checkbox">
        <input type="checkbox" name="tnc" id="tnc" required> I agree to terms & conditions
    </div>

    <button>verify</button>

    </form>

</div>

</body>
</html>
