<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet"  href="{% static 'css/daspart.css' %}">
    
</head>

<body>


    <div class="dashboard">

        <div class="header">
            <h2 class="a">Home</h2>
            
            <h3 class="c">About Us</h3>
            <h3 class="d">Contact Us</h3>
            <button class="log">Achievements</button>
            <button class="logout-btn">Log out</button>
        </div>

        <div class="content">
            <h1 style="color: #457b9d;">Welcome User</h1>
            <hr>

            <h3 style="text-align: center;color:#d6d8e4">Events</h3>

            <div class="events-container">
                {% for event in events %}
                <div class="event-card">
                    <h4>{{ event.name }}</h4>
                    <p>{{ event.description }}</p>
                    <a href="{% url 'eventwise' event.id %}">
                <button class="view-btn">View</button> </a>
                </div>
                {% empty %}
                <div class="event-card">
                <h4>No Events Available</h4>
                <p>There are no events to display.</p>
                </div>
                {% endfor %}

                <br>

            </div>
        </div>

        <div class="footer">
            @Copyright
        </div>



</body>

</html>